.course-info-page{
    width: 70%;
    margin: auto;
}
.course-info-header{
    padding: 4rem 0 6rem;
    align-items: top;
}
.course-info-card{
    width: 30%;
    padding: 1.2rem;
    font-weight: bold;
}
.group{
    margin-bottom: 2rem;
}
.ci-content{
    display: flex;
    align-items: top;

}
.ci-content .group{
    width: 70%;
}
.ci-content .img{
    width: 30%;
}

.ci-content img{
    width: 100%;
}
.course-hint-title{
    font-size: 22px;
    color: var(--dark);
    margin-bottom: 1rem;
}
.course-points{
    width: 70%;
    padding-left: 2rem;
}
.course-points-sec{
    display: flex;
    align-items: top;
    gap: 12px;
    
    
    
}
.seperator{
    width: 100%;
    height: 1px;
    background-color: rgb(218, 218, 218);
    margin: 2rem 0;
}

.student-level{
    display: flex;

}
.level{
    padding: 2rem 0.8rem;
    border: 1px solid var(--dark);
    border-radius: 25px;
    margin-left: 3rem;
}
.active-level{
    border: 3px solid var(--wp--preset--color--vivid-green-cyan); 
}
.pionts-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid var(--dark);
    position: relative;
    
}
.cp-greeting{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
}
.cp-text{
    font-size: 14px;
}
.p-value{
    line-height: 1;
    font-size: 1.3rem;
}


.pp{

}
.cards-container{
    flex-wrap: wrap;

}
.card{
    width: 35%;
    gap: 4px;
    height: 100%;
    padding: 24px;

}
.card img{
    width: 100%;
}
.main-content{
    gap: 12px;
}
.card .title{
    font-weight: 700;
    font-size: 20px;
}
.card .current-faze{
    color:var(--wp--preset--color--vivid-red);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
}
.current-project{
    font-size: 16px;
    margin-bottom: -12px;
}
.card .image-content img{
    height: 280px;
}

.progress-container{
    background-color: var(--grey);
    border-radius: 3px;
    overflow: hidden;
}
.progress-bar{
    height: 6px;
    border-radius: 3px;
}